$primary-color: #151b3b;
$primary-color-light: lighten($primary-color, 10);
$secondary-color: #e98830;
$tertiary-color: #803bd2;



// $primary-font: 'Playfair Display', Georgia, serif;
// $primary-font: 'IBM Plex Serif', Georgia, serif;
$primary-font: 'Roboto Serif', Georgia, serif;
$secondary-font: 'Inter', Verdana, sans-serif;