// $primary-color: #072A5E;
$primary-color: #151b3b;
$secondary-color: #FFF;

// $primary-font: 'Playfair Display', Georgia, serif;
// $primary-font: 'IBM Plex Serif', Georgia, serif;
$primary-font: 'Roboto Serif', Georgia, serif;
$secondary-font: 'Inter', Verdana, sans-serif;