.cv-hero {
	background-color: $primary-color;
	width: 84%;
	height: 70vh;
	padding: 0 8%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	z-index: -1;
}

.cv {
	margin: 50vh 0 10vh 0;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $primary-color;
}

@media only screen and (min-width: 1024px) {
	.hero-text {
		width: 70%;
		max-width: 660px;
		border: 2px solid $secondary-color;
		margin: 18% 25% auto 0;
		padding: 3rem 2rem;
		background-color: $primary-color;
		position: relative;

		p {
			padding: 0;
		}
	}

	.hero-text::after {
		border: 3px dotted $secondary-color;
		top: -32px;
		left: 25px;
		z-index: -1;
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		content: "";
	}

    .cv {
        height: 100vh;
    }
}
