.navbar {
  background-color: $primary-color;
  width: 93%;
  height: 40px;
  padding: 2% 2% 2% 5%;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dotted $secondary-color;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.logotype {
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: end;
}

#menu-button {
  background-color: transparent;
  border: 0;
  width: 30px;
}

#menu-button:hover > #ellipsis {
  fill: $secondary-color;
}

#ellipsis {
  fill: white;
}

.menu {

  ul {
    padding: 0;
  }

  li {
    padding: 0 1em;
    font-size: 0.7em;
    letter-spacing: 0.05em;
  }

  li:hover {
    color: $secondary-color;
  }

  a {
    color: white;
  }
}

.top-button {
  background-color: transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px dotted $secondary-color;
  position: fixed;
  bottom: 4%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  opacity: 0.4;
}

.top-button:hover {
  opacity: 1;
}

#top-arrow {
  fill: $secondary-color;
}

@media only screen and (max-width: 1024px) {
  button + .menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  button.menu-open + .menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    padding: 0;

    li {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }

  button.menu-open > #ellipsis {
    fill: none;
    stroke: $secondary-color;
    stroke-width: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    background-color: transparent;
    border-bottom: 0;
    position: relative;
  }

  #menu-button {
    display: none;
  }

  nav {
    font-family: $secondary-font;
    color: aquamarine;
    position: fixed;
    right: 20px;
    left: auto;
    top: 30%;
    flex-direction: column;
    z-index: 10;
    width: 40px;
    margin: 0;

    ul {
      writing-mode: vertical-lr;
      display: flex;

      li {
        padding: 1rem 0;
      }
    }
  }

  .top-button {
    right: 1.2%;
  }
}
